$bg-color: rgb(249, 249, 249);

body {
  background-color: $bg-color;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}


.nav-link:hover{
  text-decoration: none;
  border-bottom: 4px solid rgb(249, 249, 249);
  margin-bottom: -4px;
}

.img-container{
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.warning-top{
  display:inline-flex; 
  width: 100%; 
  background-color: rgb(93, 174, 180);
  font-size: 11pt;
}

.text-over-img-container{
  position: static; 
  text-align: left; 
  height: 600px;
}

.text-over-img{
  color: rgb(249, 249, 249);
  text-shadow: -3px 3px 3px #1d1d1d;
}

.col-div{
  height:80%;
  width:1px;
  border-left:1px solid rgb(51, 51, 51);
 }
 
 .footer{
  background-color: #353434;
  padding-bottom: 0;
  color: white;
 }

 .footer ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 .footer-text{
  font-size: 10pt;
  text-align: left;
 }