body {
  background-color: #F6F7F8; }

.header {
  background-color: #5eaedd; }

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.nav-link:hover {
  text-decoration: none;
  border-bottom: 4px solid #F6F7F8;
  margin-bottom: -4px; }

.img-container {
  overflow: hidden;
  width: 100%;
  padding: 0;
  height: 600px; }

.warning-top {
  display: inline-flex;
  width: 100%;
  background-color: #f0e268;
  font-size: 11pt; }

.text-over-img-container {
  position: static;
  text-align: left;
  height: 600px; }

.text-over-img {
  color: #f9f9f9;
  text-shadow: -3px 3px 3px #1d1d1d; }

.col-div {
  height: 80%;
  width: 1px;
  border-left: 1px solid #333333; }

.footer {
  background-color: #353434;
  padding-bottom: 0;
  color: white; }

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.footer-text {
  font-size: 10pt;
  text-align: left; }

.footer-text p {
  padding-bottom: .6rem;
  margin-bottom: 0; }
