body {
  background-color: #f9f9f9; }

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.nav-link:hover {
  text-decoration: none;
  border-bottom: 4px solid #f9f9f9;
  margin-bottom: -4px; }
