$bg-color: #F6F7F8;
$heading-color: rgb(94, 174, 221);
$secondary-color: rgb(84, 154, 196);
$warning-color: rgb(252, 229, 128);


body {
  background-color: $bg-color;
}
.header {
  background-color: $heading-color;
}
.navbar {
  background-color: $heading-color;
  box-shadow: 0 5px 5px 0 rgba(27, 27, 27, 0.2);
}


html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

.sect-heading{
  font-size: 30pt;
  font-weight: 300;
  line-height: 1.2;
}

.nav-link:hover{
  text-decoration: none;
  border-bottom: 4px solid #F6F7F8;
  margin-bottom: -4px;
}

.img-container{
  overflow: hidden;
  width: 100%;
  padding: 0;
  height: 600px;
}

.warning-top{
  display:inline-flex; 
  width: 100%; 
  background-color: $warning-color;
  font-size: 11pt;
}

.text-over-img-container{
  position: static; 
  text-align: left; 
  height: 600px;
}

.text-over-img{
  color: rgb(249, 249, 249);
  text-shadow: -3px 3px 3px #1d1d1d;
}

.col-div{
  height:80%;
  width:1px;
  border-left:1px solid rgb(51, 51, 51);
 }

/* -------------
  Navbar Styling 
  ------------- */
.sticky-this{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.push-up{
  padding-top: 60px;
}

/* -------------
  Footer Styling 
   ------------- */
.footer{
  background-color: #353434;
  padding-bottom: 0;
  color: white;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-text{
    font-size: 10pt;
    text-align: left;
  }
  .footer-text p {
    padding-bottom: .6rem;
    margin-bottom: 0;
  }
  .sect-item-footer{
    padding-left:4rem; 
    padding-right:4rem;
  }
}

/* -------------
  location.html Styling 
   ------------- */
.location{
  padding: 2%;
  .card{
    margin-left: 10%;
    margin-right: 10%;
  }
  p{
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 12pt;
    font-weight: 300;
  }
  
}

/* -------------
  ourservices.html Styling 
   ------------- */
.service{
  padding: 2%;
  h3{
    display: inline-block;
    border-bottom:  3px solid rgb(51, 51, 51);
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  p{
    font-size: 12pt;
    font-weight: 300;
  }
}

/* ------------
  contactus.html
   ------------*/
.contact-us{
  padding: 2%;
  p{
    font-weight: 300;
  }
}
.form-container {
  margin: auto;
  border-radius: 4px;
}
.form-container label {
  display: inline-block;
  padding: .5rem;
  padding-top: 1rem;
}
.form-container input[type=text], select, textarea {
  align-items: center;
  width: 80%;
  padding: 12px;
  font-size: 10pt;
  border: 1px solid rgb(216, 216, 216);
  border-radius: .3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  resize: none;
}

/* ---------
  Billing
------------ */
.billing{
  padding: 2%;
  p{
    font-weight: 300;
  }
  h3{
    padding: .8rem;
    border-radius: 2px;
    background-color: rgb(227, 232, 233);
  }
  .btn{
    width: 80%;
    margin-bottom: .6rem;
  }
}


//Stylings Above Mobile-viewports
@media (min-width:481px)  {
  /* Tablet Footer */
  .footer{
    .inner-footer {
      padding-left:10%; 
      padding-right:10%
    }
    .footer-text{
      font-size: 10pt;
      text-align: left;
    }
    .sect-item-footer{
      padding-left:.4rem; 
      padding-right:.4rem;
    }
  }
}
//desktop-viewport only styling
@media (min-width:1281px)  {
  .navbar {
    background-color: $secondary-color;
    box-shadow: 0 10px 8px 0 rgba(27, 27, 27, 0.2);
  }
  
  header{
    .company-title{
      padding-bottom: 1%;
    }
  }
  
  /* Desktop Footer */
  .footer{
    .inner-footer {
      padding-left:20%; 
      padding-right:20%
    }
    .footer-text{
      font-size: 10pt;
      text-align: left;
    }
    .sect-item-footer{
      padding-left:3.4rem; 
      padding-right:3.4rem;
    }
  }

  .location{
    h2{
      margin-top: 10%;
    }
    .card{
      margin-bottom: 10%;

      margin-left: 20%;
      margin-right: 20%;
    }
    p{
      margin-top: .5rem;
      margin-bottom: .5rem;
      font-size: 12pt;
      font-weight: 300;
    }
  }

  .service{
    padding: 2%;
    h3{
      font-weight: 200;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  .form-container input[type=text], select, textarea {
    align-items: center;
    width: 50%;
    padding: 12px;
    font-size: 10pt;
    border: 1px solid rgb(216, 216, 216);
    border-radius: .3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: none;
  }

  .billing{
    .btn{
      width: unset;
      margin-bottom: unset;
    }
    h2{
      font-weight: 300;
    }
  }
}
 